extends layout

block content

  div()
    div(class="boxed")
      h1()= title

  div()
    div(class="grid-container")
      div()
        h2()="Stored files listing"
        a(href="/uploads"
          class="pure-button"
          style="color: white; background: rgb(28, 184, 65);")="Go to files listing"

      div()
        h2()="Upload one or more files"
        form(class="pure-form pure-form-aligned" method="post" action="/uploadFiles" enctype="multipart/form-data")
          fieldset
            div(class="pure-control-group")
              label(for="files")="Choose files"
              input(id="files" class="pure-button pure-form" name="filesToUpload" type="file" multiple)
            div(class="pure-control-group")
              label(for="folderName")="Folder Name (optional)"
              input(id="folderName"
                    type="text"
                    name="destDir"
                    value="")
            input(class="pure-button pure-button-primary"
                   type="submit")

      div()
        h2()="Delete folders"

        if dirList.length == 0
          p()="Upload folder is empty"
        else
          form(class="pure-form pure-form-stacked", method="post" action="/deleteDir")
            fieldset
                div()
                  table(class="pure-table pure-table-bordered" style="margin: 0 auto;")
                    thead
                      tr
                        th="Folder"
                        th="Selected"

                    tbody
                    each item in dirList
                        tr
                          td=item
                          td
                            input(name="folderName", value=item, type="checkbox")
                div()
                  label()
                    h4() Attention: the action cannot be undone!
                  input(class="pure-button" style="background: rgb(202, 60, 60); color: white;" type="submit" value="Delete Selected")

      div(id="footerContainer") #{title} by &nbsp;
          a(href="https://github.com/marcov") marcov
