extends layout

block content
 
  div(class="pure-g")
    div(class="pure-u-1")
      h1()= title

  div(class="pure-g pure-u-1")
    a(href="uploads")="Go to Stored Files"
  
  div(style="height: 3em;")
    
  div(class="pure-g pure-u-1")
    h3()="Upload one or more files"
    form(class="pure-form pure-form-stacked" method="post" action="/uploadFiles" enctype="multipart/form-data")
      input(class="pure-input" name="filesToUpload" type="file" multiple)
      input(type="text"
            name="destDir"
            placeholder="Dest Directory Name"
            value="")
      input(class="pure-button pure-button-primary"
             type="submit")
            
