extends layout

block content
 
  div(class="pure-g  pure-u-1")
    h3()="Completed"
    span()="Status: "
    span()=status
    br
    if folder  
      span()="Folder: "
      a(href=folder)=folder
     
  div(class="pure-g pure-u-1" style="margin-top: 1em")
    a(href="/")="Go back"
    
